<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="../static/css/headProfile.css">
    <script src="static/js/script.js"></script>
</head>
<body>

<header>
    <div class="profile-info">
        <img src="profile-pic.jpg" alt="Profile Picture">
        <span class="username">User Name</span>
    </div>
    <div class="actions">
    </div>
</header>

<main>
    <div class="post">
        <div class="post-header">
            <img src="user-pic.jpg" alt="User Picture">
            <span class="username">User Name</span>
        </div>
        <div class="content">
            This is a sample post content. It could be a text, image, or any other media.
        </div>
        <div class="comments">
            <div class="comment">
                <b>User 1:</b> This is a comment.
            </div>
            <div class="comment">
                <b>User 2:</b> Another comment.
            </div>
        </div>
        <div class="comment-form">
            <input type="text" placeholder="Add a comment...">
            <button onclick="loadPosts()">Загрузить посты</button>
        </div>
    </div>
    <!-- Конец поста -->

    <!-- Еще один пост -->
    <div class="post">
        <div class="post-header">
            <img src="user-pic2.jpg" alt="User Picture">
            <span class="username">Another User</span>
        </div>
        <div class="content">
            Another example of post content. Maybe with an image or video.
        </div>
        <div class="comments">
            <div class="comment">
                <b>User 3:</b> Great post!
            </div>
        </div>
        <div class="comment-form">
            <input type="text" placeholder="Add a comment...">
            <button type="submit">Post</button>
        </div>
    </div>
</main>

</body>
</html>