<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="../static/css/headProfile.css">
    <script src="static/js/profile.js"></script>
</head>
<body>

<header>
    <div  id="profile">
        <img src="profile-pic.jpg" alt="Profile Picture">
        <span class="username">User Name</span>
    </div>
    <div></div>
    <div class="actions">
    </div>
</header>

<main>

    <div id="posts-container"></div>
    <div class="post">
        <div class="post-header">
            <img src="user-pic.jpg" alt="User Picture">
            <span class="username">User Name</span>
        </div>
        <div class="content">
            This is a sample post content. It could be a text, image, or any other media.
        </div>

        <div class="comment-form">
            <input type="text" placeholder="Add a comment...">
            <button onclick="loadPosts()">Загрузить посты</button>
        </div>
    </div>

</main>

</body>
</html>