<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="static/css/MainTitle.css">
    <script src="static/js/script.js"></script>
    <style>

    </style>
</head>
<body>

<header>

    <div id="profile" onclick="toggleDropdown()">
        <img src="avatar.jpg" alt="Фото профиля">
    </div>

    <div id="dropdown-menu" class="dropdown-menu">
        <a href="http://localhost:8080/page">Моя страница</a>
        <a  onclick="openSearch" href="#">Поиск</a>
        <a href="#">Мои подписки</a>
        <a href="#">Настройки</a>
        <a href="#">Помощь</a>
        <a href="#">Выйти</a>
    </div>

    <button onclick="openModal()">Создать пост</button>



    <div id="logo" class="logo">
        <h1>OnePoint</h1>
    </div>

    <script>
        function toggleDropdown() {
            const dropdownMenu = document.getElementById('dropdown-menu');
            dropdownMenu.classList.toggle('show');
        }

        window.addEventListener('click', function(event) {
            const dropdownMenu = document.getElementById('dropdown-menu');
            const profile = document.getElementById('profile');
            if (!profile.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    </script>
</header>

<main>

    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <h2>Новый пост</h2>
            <input type="text" placeholder="Тема" id="postTitle">
            <textarea placeholder="Напишите что-нибудь..." id="postContent"></textarea>
            <br>
            <button onclick="closeModal()">Закрыть</button>
            <button onclick="createPost()">Опубликовать</button>
        </div>
    </div>

    <div id="posts-container"></div>
    <div id="loading">Загружаем посты...</div>

    <script src="static/js/lazyload.js" defer></script>
</main>

</body>
</html>
