<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои посты</title>
    <link rel="stylesheet" href="static/css/MainTitle.css">
    <link rel="stylesheet" href="static/css/Search.css">
    <script src="static/js/script.js"></script>

</head>
<body>

<header>

    <div id="profile" onclick="toggleDropdown()">
        <img src="avatar.jpg" alt="Фото профиля">
    </div>

    <div id="dropdown-menu" class="dropdown-menu">
        <a href="/feed">Новости</a>
        <a href="/search">Поиск</a>
        <a href="#">Настройки</a>
        <a href="#">Помощь</a>
        <a href="#">Выйти</a>
    </div>
    <button content="Создать пост" onclick="openModal()">Постнуть</button>

    <div id="logo" class="logo">
        <h1>OnePoint</h1>
    </div>

</header>
<main>

    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <h2>Новый пост</h2>
            <input type="text" placeholder="Тема" id="postTitle">
            <textarea placeholder="Напишите что-нибудь..." id="postContent"></textarea>
            <br>
            <button onclick="closeModal()">Закрыть</button>
            <button onclick="createPost()">Опубликовать</button>
        </div>
    </div>




    <div class="modal-overlay" id="edit-modal">
        <div class="modal">
            <span class="close" onclick="closeModalEdit()">&times;</span>
            <h2>Редактировать пост</h2>
            <input type="hidden" id="edit-post-id">
            <label>Тема:</label>
            <input type="text" id="edit-title">
            <label>Контент:</label>
            <textarea id="edit-content"></textarea>
            <button onclick="savePost()">Сохранить</button>
        </div>
    </div>






    <div id="posts-container"></div>
    <div id="loading">Загружаем посты...</div>

    <script src="static/js/myPost.js"></script>
</main>

</body>
</html>
