<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои посты</title>
    <link rel="stylesheet" href="static/css/MainTitle.css">
    <link rel="stylesheet" href="static/css/Search.css">
    <script src="static/js/script.js"></script>
    <style>

    </style>
</head>
<body>

<header>

    <div id="profile" onclick="toggleDropdown()">
        <img src="avatar.jpg" alt="Фото профиля">
    </div>

    <div id="dropdown-menu" class="dropdown-menu">
        <a href="#">Моя страница</a>
        <a href="#">Мои подписки</a>
        <a href="#">Настройки</a>
        <a href="#">Помощь</a>
        <a href="#">Выйти</a>
    </div>
    <button content="Создать пост" onclick="openModal()">+</button>

    <div id="logo" class="logo">
        <h1>OnePoint</h1>
    </div>

    <script>
        function toggleDropdown() {
            const dropdownMenu = document.getElementById('dropdown-menu');
            dropdownMenu.classList.toggle('show');
        }

        window.addEventListener('click', function(event) {
            const dropdownMenu = document.getElementById('dropdown-menu');
            const profile = document.getElementById('profile');
            if (!profile.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    </script>
</header>
<main>


    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalEdit()">&times;</span>
            <h2>Редактировать пост</h2>
            <input type="hidden" id="edit-post-id">
            <label>Тема:</label>
            <input type="text" id="edit-title">
            <label>Контент:</label>
            <textarea id="edit-content"></textarea>
            <button onclick="savePost()">Сохранить</button>
        </div>
    </div>



    <div id="posts-container"></div>
    <div id="loading">Загружаем посты...</div>

    <script src="static/js/myPost.js"></script>
</main>

</body>
</html>
