<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/RegistrartionPage.css">
</head>
<body>

<div class="registration-form">
    <h2>Регистрация</h2>

    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Повторите пароль</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>

    <div class="form-group">
        <label for="full_name_user">Имя и Фамилия</label>
        <input type="text" id="full_name_user" name="full_name_user" required>
    </div>

 

    <button onclick="signup()" type="button" class="btn">Регистрация</button>

    <div id="errorMessage" class="errorMessage"></div>
</div>

<script src="static/js/script.js"></script>

</body>
</html>
